
<nav class="navbar navbar-expand-lg navbar-light"style="background: #9FC5E8">
   
    <div class="container">
      
        <a class="navbar-brand me-2" href="">
            MOD-C-Management
        </a> &nbsp;
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            
            
            <div class="d-flex align-items-center">
                

                <div class="dropdown" style="margin-left:60%;">
                    <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                        {{userName}}
                        <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        class="rounded-circle"
                        height="25"
                        alt="Black and White Portrait of a Man"
                        loading="lazy"
                      />
                    </button>
                    <ul class="dropdown-menu">
                      
                        <li> <a routerLink="/login" class="dropdown-item"><i
                                    class="fa fa-sign-out">&nbsp;&nbsp;&nbsp;&nbsp;Logout</i></a></li>

                    </ul>
                </div>


            </div>
        </div>
       
    </div>
   
</nav>